server:
    port: ${SERVER_PORT}
logging:
  level:
    org.springframework.web: INFO
    com.swordintent.wx.mp: DEBUG
    me.chanjar.weixin: DEBUG
wx:
  mp:
    configs:
      - appId: ${WX_APPID}
        secret: ${WX_SECRET}
        token: ${WX_TOKEN}
        aesKey: ${WX_AESKEY}
spring:
    datasource:
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
        username: ${DB_USER}
        password: ${DB_PASSWORD}
ai:
    tencent:
        appid: ${AI_APPID}
        appkey: ${AI_APPKEY}
